body {
  height: 743px;
  background-image: url(./img/book-1240762-1279x852.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'PT Serif', serif;
  color: white;
  
}

.navbar{
  font-size: 23px;
  padding: 10px;
 
}
