body {
  height: 743px;
  background-image: url(https://images.squarespace-cdn.com/content/v1/56bcdf1af8baf3c41a4617d8/1557938554136-JJ9N11OQM9CXCEJHNU9D/ke17ZwdGBToddI8pDm48kFNaO_EXX7Epbdtp3WkVu30UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dsGK4e9KwfllKV1NLOimaRVQM4MzLpeOU5zOF1T23mIdpC969RuPXvt2ZwyzUXQf7Q/2-day-03.jpg?format=2500w);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'PT Serif', serif;
  color: white;
  
}

.navbar{
  font-size: 23px;
  padding: 10px;
 
}
