
html{
  
  background-image: url(./img/rhema-kallianpur-2W3bDp7K1oQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}
body {
  height: 743px;
  font-family: 'PT Serif', serif;
}


.navbar{
  font-size: 23px;
  padding: 10px;
}

div .homePage {
  color: white;
  font-Size: 30px;
  display: flex;
  flex-Wrap: wrap;
  width: 500px;
  padding: 20px;
  margin: auto
}